<div class="col-md-6 col-md-offset-3">
  <h2>Add Apartment</h2>
  <form name="form" (ngSubmit)="f.form.valid && addApartment()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
      <label for="address">Address</label>
      <input type="text" class="form-control" name="address" [(ngModel)]="model.Address" #address="ngModel" required />
      <div *ngIf="f.submitted && !address.valid" class="help-block">Address is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
      <label for="description">Description</label>
      <input type="text" class="form-control" name="description" [(ngModel)]="model.Description" #description="ngModel" required />
      <div *ngIf="f.submitted && !description.valid" class="help-block">Description is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !price.valid }">
      <label for="price">Price</label>
      <input type="number" min="1" class="form-control" name="price" [(ngModel)]="model.Price" #price="ngModel" required />
      <div *ngIf="f.submitted && !price.valid" class="help-block">Price is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !price.valid }">
      <label for="roomsNumber">Rooms Number</label>
      <input type="number" min="1" class="form-control" name="price" [(ngModel)]="model.RoomsNumber" #roomsNumber="ngModel" required />
      <div *ngIf="f.submitted && !roomsNumber.valid" class="help-block">Rooms Number is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !price.valid }">
      <label for="apartmentSize">Apartment Size</label>
      <input type="number" min="1" class="form-control" name="apartmentSize" [(ngModel)]="model.apartmentSize" #apartmentSize="ngModel" required />
      <div *ngIf="f.submitted && !apartmentSize.valid" class="help-block">Apartment size is required</div>
    </div>

    <section class="example-section">
      <mat-checkbox class="example-margin" name="hasFurniture" [(ngModel)]="model.hasFurniture">Furnature</mat-checkbox>
      <mat-checkbox class="example-margin" name="hasAirConditining" [(ngModel)]="model.hasAirConditining">Air conditining</mat-checkbox>
      <mat-checkbox class="example-margin" name="hasParking" [(ngModel)]="model.hasParking">Parking</mat-checkbox>
    </section>
    <br>
    <br>
    <label>Upload Image:</label>

    <input #fileInput type="file"/>

    <br>
    <br>

    <mat-expansion-panel [expanded]="true" hideToggle="true" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Location
        </mat-panel-title>
        <mat-panel-description>
          Select the apartment location
          <!--<mat-icon>map</mat-icon>-->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
        <agm-marker
          [latitude]="marker.lat"
          [longitude]="marker.lng">

          <agm-info-window>
            <strong>InfoWindow content</strong>
          </agm-info-window>

        </agm-marker>
      </agm-map>
    </mat-expansion-panel>


    <br>
    <br>

    <div class="form-group">
      <button mat-raised-button color="primary"[disabled]="loading">Add Apartment</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <button mat-raised-button [routerLink]="['/apartments']">Cancel</button>
    </div>
  </form>
</div>
