  <!--<div class='panel-heading'>-->
    <!--{{pageTitle}}-->
  <!--</div>-->
  <mat-tab-group (selectedIndexChange)="onSelectedIndexChange($event)">
    <mat-tab label="Find Apartments by search">
      <div style="margin: 0 auto; padding-top:5px; height: 75%;">

      <div class='panel-body'>
        <div class='row'>
          <div class='col-md-7'>Search by Address:
            <!--<div class='col-md-4'>-->
            <input class="search" type='text' [(ngModel)]='listFilter' style="margin-left: 60px"/>
            <!--</div>-->
          </div>
        </div>
        <div class="row">
          <div class='col-md-7'>
            Sort by:
            <div class="btn-group btn-group-sm" style="margin-left: 133px;">
              <button class="btn btn-default" [class.active] = "sortBy==='none'" (click)="changeSorting('none');">None</button>
              <button class="btn btn-default" [class.active] = "sortBy ==='price'" (click)="changeSorting('price');">Price</button>

            </div>
          </div>
        </div>
        <!--<div class='row'>-->
        <!--<div class='col-md-6'>-->
        <!--<h3>Filtered by: {{listFilter}} </h3>-->
        <!--</div>-->
        <!--</div>-->
        <div class='table-responsive'>
          <table class='table table-striped table-responsive '
                 *ngIf='apartments && apartments.length'>
            <thead>
            <tr>
              <!--<th>-->
              <!--<button class='btn btn-primary'-->
              <!--(click)='toggleImage()'>-->
              <!--{{showImage ? 'Hide' : 'Show'}} Image-->
              <!--</button>-->
              <!--</th>-->
              <th>Address</th>
              <th>Description</th>
              <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let apartment of filteredApartments'>
              <!--<td>-->
              <!--<img *ngIf='showImage'-->
              <!--[src]='product.imageUrl'-->
              <!--[title]='product.productName'-->
              <!--[style.width.px]='imageWidth'-->
              <!--[style.margin.px]='imageMargin'>-->
              <!--</td>-->
              <!--<td><a [routerLink]="['/products', product.productId]">-->
              <!--{{ product.productName }}-->
              <!--</a>-->
              <!--</td>-->
              <td><a [routerLink]="['/apartments', apartment.Id]">{{ apartment.Address }}</a></td>
              <td>{{ apartment.Description | lowercase }}</td>
              <td>{{ apartment.Price | currency:'ILS':true:'1.2-2'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
<!--<div *ngIf='errorMessage' class='alert alert-danger'>-->
<!--Error: {{ errorMessage }}-->
<!--</div>-->

    </mat-tab>
    <mat-tab label="Find apartments by map">
      <div *ngIf="tabIndex === 1">
        <agm-map [latitude]="32" [longitude]="34.9">
        <agm-marker
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m, i)"
          [latitude]="m.lat"
          [longitude]="m.lng">

          <!--<agm-info-window>-->
          <!--<strong>InfoWindow content</strong>-->
          <!--</agm-info-window>-->

        </agm-marker>
      </agm-map>
      </div>

    </mat-tab>
  </mat-tab-group>
