thead {
  color: #337AB7;
}

agm-map {
  width: 750px;
  height: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -250px;
  margin-left: -500px;
  padding-top: 30px;
}

input.search {
  font-family: Whitney;
  font-size: 16px;
  height: 20px;
  line-height: 24px;
  width: 235px;
  box-sizing: content-box;
  padding: 8px 10px 10px;
  outline: 0;
  border: 1px solid #d5d6d9;
  border-radius: 4px 0 0 4px;
  margin-left: 10px;
}

.mat-sort-header-container {
  align-items: center;
}

table {
  margin-top: 30px;
}
