<div class='panel panel-primary' *ngIf='apartment'>
  <div class='panel-heading'>
    <!--{{pageTitle + ': ' + apartment.apartmentName}}-->
  </div>

  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-6'>
        <div class='row'>
          <div class='col-md-3'>Address:</div>
          <div class='col-md-6'>{{apartment.Address}}</div>
        </div>
        <!--<div class='row'>-->
          <!--<div class='col-md-3'>Code:</div>-->
          <!--<div class='col-md-6'>{{apartment.apartmentCode | lowercase | convertToSpaces: '-'}}</div>-->
        <!--</div>-->
        <div class='row'>
          <div class='col-md-3'>Description:</div>
          <div class='col-md-6'>{{apartment.Description}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Price:</div>
          <div class='col-md-6'>{{apartment.Price|currency:'USD':true}}</div>
        </div>

        <div class='row'>
          <div class='col-md-3'>Rooms Number:</div>
          <div class='col-md-6'>{{apartment.RoomsNumber}}</div>
        </div>

        <div class='row'>
          <div class='col-md-3'>Apartment Size:</div>
          <div class='col-md-6'>{{apartment.apartmentSize}}</div>
        </div>
        <div *ngIf="apartment.Images && apartment.Images.length > 0">
          <img [src]="sanitizedImageData" />
        </div>

        <div class='row'>
          <div class='col-md-3'>Map:</div>
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker
              [latitude]="apartment.Lat"
              [longitude]="apartment.Lng">

              <!--<agm-info-window>-->
                <!--<strong>InfoWindow content</strong>-->
              <!--</agm-info-window>-->

            </agm-marker>
          </agm-map>
        </div>
        <!--<div class='row'>-->
          <!--<div class='col-md-3'>5 Star Rating:</div>-->
          <!--<div class='col-md-6'>-->
            <!--<pm-star [rating]='apartment.starRating'>-->
            <!--</pm-star>-->
          <!--</div>-->
        <!--</div>-->
      </div>

      <!--<div class='col-md-6'>-->
        <!--<img class='center-block img-responsive'-->
             <!--[style.width.px]='200'-->
             <!--[style.margin.px]='2'-->
             <!--[src]='apartment.imageUrl'-->
             <!--[title]='apartment.apartmentName'>-->
      <!--</div>-->
    </div>
  </div>

  <div class='panel-footer'>
    <a class='btn btn-default' (click)='onBack()' style='width:80px'>
      <i class='glyphicon glyphicon-chevron-left'></i> Back
    </a>
  </div>
</div>
