<div class='panel panel-primary' *ngIf='apartment'>
  <div class='panel-heading'>
    <!--{{pageTitle + ': ' + apartment.apartmentName}}-->
  </div>

  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-6'>
        <div class='row'>
          <div class='col-md-3'>Address:</div>
          <div class='col-md-6'>{{apartment?.Address}}</div>
        </div>
        <!--<div class='row'>-->
          <!--<div class='col-md-3'>Code:</div>-->
          <!--<div class='col-md-6'>{{apartment.apartmentCode | lowercase | convertToSpaces: '-'}}</div>-->
        <!--</div>-->
        <div class='row'>
          <div class='col-md-3'>Description:</div>
          <div class='col-md-6'>{{apartment?.Description}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Price:</div>
          <div class='col-md-6'>{{apartment?.Price|currency:'ILS':true}}</div>
        </div>

        <div class='row'>
          <div class='col-md-3'>Rooms Number:</div>
          <div class='col-md-6'>{{apartment?.RoomsNumber}}</div>
        </div>

        <div class='row'>
          <div class='col-md-3'>Apartment Size:</div>
          <div class='col-md-6'>{{apartment?.apartmentSize}}</div>
        </div>

        <div class='row'>
          <div class='col-md-3'>
        <section class="example-section">
          <mat-checkbox class="example-margin" name="hasFurniture" [disabled]="true" [(ngModel)]="apartment.hasFurniture">Furnature</mat-checkbox>
          <mat-checkbox class="example-margin" name="hasAirConditining" [disabled]="true" [(ngModel)]="apartment.hasAirConditining">Air conditining</mat-checkbox>
          <mat-checkbox class="example-margin" name="hasParking" [disabled]="true" [(ngModel)]="apartment.hasParking">Parking</mat-checkbox>
        </section>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-3'>Publisher:</div>
          <div class='col-md-6'>{{apartment?.User?.FirstName}}</div>
        </div>
        <div *ngIf="apartment.Images && apartment.Images.length > 0">
          <img [src]="sanitizedImageData" />
        </div>

        <div class='row'>
          <div class='col-md-3'>Map:</div>
          <agm-map [latitude]="apartment.Lat" [longitude]="apartment.Lng">
            <agm-marker
              [latitude]="apartment?.Lat"
              [longitude]="apartment?.Lng">

              <!--<agm-info-window>-->
                <!--<strong>InfoWindow content</strong>-->
              <!--</agm-info-window>-->

            </agm-marker>
          </agm-map>
        </div>
        <!--<div class='row'>-->
          <!--<div class='col-md-3'>5 Star Rating:</div>-->
          <!--<div class='col-md-6'>-->
            <!--<pm-star [rating]='apartment.starRating'>-->
            <!--</pm-star>-->
          <!--</div>-->
        <!--</div>-->
      </div>

      <!--<div class='col-md-6'>-->
        <!--<img class='center-block img-responsive'-->
             <!--[style.width.px]='200'-->
             <!--[style.margin.px]='2'-->
             <!--[src]='apartment.imageUrl'-->
             <!--[title]='apartment.apartmentName'>-->
      <!--</div>-->
    </div>
  </div>

  <div class='panel-footer'>
    <a class='btn btn-default' (click)='onBack()' style='width:80px'>
      <i class='glyphicon glyphicon-chevron-left'></i> Back
    </a>
  </div>
</div>
