<header>
      <ul class="nav nav-tabs" role="tablist">
        <li routerLinkActive="active"role="presentation"><a [routerLink]="['/apartments']">Search Apartments</a></li>
        <li routerLinkActive="active" role="presentation" *ngIf="currentUser"><a [routerLink]="['/add-apartment']">Add Apartments</a></li>
        <li routerLinkActive="active" role="presentation" *ngIf="currentUser"><a [routerLink]="['/my-apartments']">My Apartments</a></li>

        <div style="margin-right: 20px" *ngIf="currentUser">
        <li routerLinkActive="active" role="presentation" style="float:right; line-height: 34px;">Signed in as {{currentUser}} &nbsp; &nbsp; &nbsp;<button (click)="logout()" class="btn btn-default">Log-out</button></li>
        </div>
        <div  style="margin-right: 20px" *ngIf="!currentUser">
          <li routerLinkActive="active" role="presentation" style="float:right; line-height: 34px;"><a [routerLink]="['/login']">Log In</a></li>
        </div>
      </ul>
</header>
<br>
<br>
<main>
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</main>
