<div>
  <nav class='navbar navbar-default'>
    <div class='container-fluid'>
      <a class='navbar-brand'>{{title}}</a>
      <ul class='nav navbar-nav'>
        <li><a [routerLink]="['/apartments']">Search Apartments</a></li>
        <li *ngIf="currentUser"><a [routerLink]="['/add-apartment']">Add Apartments</a></li>
      </ul>
      <div *ngIf="currentUser">
      <p class="navbar-text navbar-right"><button (click)="logout()" class="btn btn-default">Log-out</button></p>
      <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">{{currentUser}}</a></p>
    </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
